@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color:deepskyblue;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Добре дошли в приют за кучета"Спасители"</h1>
    <p>Бездомните кучета и тези, които са изоставени биват приети в Oбщински приют за безстопанствени кучета Перник, където са преглеждани от ветеринарен лекар и лекувани, като активна грижа се полага за тяхната реинтеграция, като се търсят осиновители.</p>
    <img src="https://m.netinfo.bg/media/images/29320/29320715/640-420-pyrviiat-priiut-za-kucheta-v-blagoevgrad-veche-funkcionira.jpg" />
</div>
