@{
    ViewData["Title"] = "За Нас";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-color: deepskyblue;
    }
</style>

<p>
    Доброволци към приюта
    Към приюта има спонтанно организирана група от доброволци, които активно с любов и често със себеотрицание помагат на екипа от Общински приют Перник за обгрижване на кучетата в него.

    Всяка събота и неделя между 10 и 15 часа сте добре дошли да разходите на повод нашите кучета, като е много възможно така да намерите и своя нов домашен любимец.

    От какво често приюта има нужда?
    – Специализирана ветеринарна храна за обгрижване на заболелите кучета.

    – Суха, консервирана или друга храна подходяща за кучета.

    – Сено за постилане на клетките и заграджденията, за да може кучетата да бъдат на сухо.

    – Завивки, одеяла, текстилни постелки за смяна в клетките на кучетата.

    – Финансови средста, които ще подмогнат лечението и добруването на кучетата в приюта.

    – Дезинфектанти, като Доместос и белина.

</p>
